@model IEnumerable<ESkript.Models.TextCard>

@*<h4>
        Text:
    </h4>*@
<div style="position: relative; left: 30px;">
    @foreach (var item in Model) {
        @*if (item.Text != null) {
                @Html.Raw(item.Text.Replace(Environment.NewLine, "<br />"));
            }*@
        @*<pre>*@
        if (item.Text != null) {
            @Html.Raw(item.Text.Replace(Environment.NewLine, "<br />"));
        }
        @*</pre>*@
    }

</div>
